*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #222; */
}
/* { */
/* } */
.footer-container {
    background: #222;
    color: white;
    padding: 30px;
    text-align: center;
  }
  
  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .feature-box {
    background: #333;
    padding: 15px;
    border-radius: 5px;
  }
  
  .footer-main {
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid #444;
  }
  
  .footer-links a,
  .social-links a {
    color: white;
    margin: 10px;
    text-decoration: none;
  }
  
  .social-links i {
    font-size: 20px;
  }
  
  .copyright {
    margin-top: 10px;
    font-size: 14px;
  }
  
  @media screen and (max-width:480px) {
    .features {
        /* display: grid; */
        grid-template-columns:  1fr 1fr;
        gap: 20px;
        padding: 20px;
      }    
  }
  
  @media screen and (max-width:400px) {

    .footer-container{
        font-size: 12px;
    }
  }
  @media screen and (max-width:280px) {

    .footer-container{
        font-size: 10px;
    }
    .features{
        grid-template-columns:  1fr;
        /* gap: 20px; */
        padding: 10px;
    }
  }

  /* hover effects */
h3{
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  a:hover,h3:hover.hover-red{
    color:#FF204E;
    cursor: pointer;

  }
  
  h3:hover.hover-green{
    color: #005B41;
    cursor: pointer;
  }